@charset "UTF-8";

.runs {
	
}

.statistics {
	vertical-align: middle;
	background-color: white;
	height: 500px;
}

.pcheck {
	margin-top: 2%;
}

.sider {
	text-align: center;
}

h4 {
	text-align: center;
	color: black;
	margin-top: 1.5%;
}

#rundescription, #sharedusers, .git {
	width: 100%;
  font-size: 100%; 
  background-color: #f2f2f2; 
	border: 1px solid #cccccc;
	padding: 1%;
	border-radius: 5px;
	margin-top: 1%;
}

.runelems {
	margin-top: 1%;
}

.runbtn {
	width: 68%;
}