@charset "UTF-8";

.runs {
	
}

.statistics {
	vertical-align: middle;
	background-color: white;
	height: 500px;
}

.pcheck {
	margin-top: 2%;
}

.sider {
	text-align: center;
}

h4 {
	text-align: center;
	color: black;
}