@charset "UTF-8";

body {
	background-color: #336699;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: white;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
}

.clickedButton {
	padding-top: 20px;
	background-color: #e7e7e7;
	color: black;
}

.unclickedButton {
	padding-top: 20px;
	background-color: #464c54;
    border: 1px solid #464c54;
    color: #ffebb5;
}