@charset "UTF-8";

body {
	background-color: #336699;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: white;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
}

.container {
	background-color: #336699;
}

select {
	width: 80%;
	font-size: 15px;
	height: 40px;
	background-color: wheat;
}

#banner {
	margin-top: 3%;
}

.currentpage {
	background-color: #e7e7e7;
	color: #282e32;
  border: 1px solid #e7e7e7;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 110%;
  font-weight: bold;
  padding: 8px 14px;
	text-decoration: none;
	width: 120%;
}

.futurepage {
	background-color: #464c54;
  border: 1px solid #464c54;
	color: #ffebb5;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 110%;
  font-weight: bold;
  padding: 8px 14px;
	text-decoration: none;
	width: 120%;
}

#assignmentBanner {
	margin-left: 10%;
}

#classinfo {
	margin-left: 14%;
}

#logout {
	float: right;
	background-color: #e7e7e7;
	color: #282e32;
  border: 1px solid #e7e7e7;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 110%;
  font-weight: bold;
  padding: 8px 14px;
	text-decoration: none;
}

.addAssignment {
	margin-top: 2%;
	background-color: red;
	color: white;
	font-size: 140%;
	padding: 8px 14px;
}

#existingAssi {
	background-color: #464c54;
  border: 1px solid #464c54;
	color: #ffebb5;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 110%;
  padding: 8px 14px;
	text-decoration: none;
	margin-top: 5px;
}

#statistics {
	margin-top: 1%;
	background-color: white;
	height: auto;
}

#assignmentsWrapper {
	width: 19.5%;
	float: left;
	text-align: center;
	margin-top: 1%;
}

.currentAssignment {
	background-color: white;
	color: black;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 110%;
  padding: 8px 14px;
	text-decoration: none;
	margin-top: 5px;
	width: 77%;
}

.futureAssignment {
	background-color: #464c54;
  border: 1px solid #464c54;
	color: #ffebb5;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 110%;
  padding: 8px 14px;
	text-decoration: none;
	margin-top: 5px;
	width: 77%;
}