@charset "UTF-8";

body {
	background-color: #336699;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: white;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
}

.container {
	background-color: #336699;
}

.currentRun {
	background-color: #e7e7e7;
	color: #282e32;
  border: 1px solid #e7e7e7;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 110%;
  font-weight: bold;
  padding: 8px 14px;
	text-decoration: none;
	width: 60%;
	margin-top: 1%;
}

.futureRun {
	background-color: #464c54;
  border: 1px solid #464c54;
	color: #ffebb5;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 110%;
  font-weight: bold;
  padding: 8px 14px;
	text-decoration: none;
	width: 60%;
	margin-top: 1%;
}

#statistics {
	margin-top: 1%;
	background-color: white;
}

.addRun, #run {
	margin-top: 2%;
	background-color: red;
	color: white;
	font-size: 140%;
	padding: 8px 30px;
}

#runsWrapper {
	width: 19.5%;
	float: left;
	text-align: center;
	margin-top: 1%;
	height: 450px;
}

.modal {
  display: none;    /* Hidden by default */
  position: fixed;  /* Stay in place */
  z-index: 1;       /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;      /* Full width */
  height: 100%;     /* Full height */
  overflow: auto;   /* Enable scroll if needed */
  background-color: rgb(0,0,0);       /* Fallback color */
  background-color: rgba(0,0,0,0.4);  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  width: 45%;
}

.git {
	background-color: white;
	width: 100%;
}

.report {
	background-color: white;
}

.meter {
	width: 70%;
	background: linear-gradient(to right, green, yellow, red);
	height: 40px;
}

.meter2 {
	width: 70%;
	height: 40px;
}

#zero_tag {
	float: left;
	font-size: 120%;
}

#hundred_tag {
	float: right;
	font-size: 120%;
}

#nbsp {
	color: white;
}

#arrow {
	font-size: 250%;
	font-weight: bold;
}

h3 {
	text-align: center;
}

.test {
	text-align: center;
}