@charset "UTF-8";

body {
	background-color: #336699;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: white;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
}

.container {
	background-color: #336699;
}

.currentRun {
	background-color: #e7e7e7;
	color: #282e32;
  border: 1px solid #e7e7e7;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 110%;
  font-weight: bold;
  padding: 8px 14px;
	text-decoration: none;
	width: 60%;
	margin-top: 1%;
}

.futureRun {
	background-color: #464c54;
  border: 1px solid #464c54;
	color: #ffebb5;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 110%;
  font-weight: bold;
  padding: 8px 14px;
	text-decoration: none;
	width: 60%;
	margin-top: 1%;
}

#statistics {
	margin-top: 1%;
	background-color: white;
}

.addRun, #run {
	margin-top: 2%;
	background-color: red;
	color: white;
	font-size: 140%;
	padding: 8px 30px;
}

#runsWrapper {
	width: 19.5%;
	float: left;
	text-align: center;
	margin-top: 1%;
	height: 450px;
}

.modal {
  display: none;    /* Hidden by default */
  position: fixed;  /* Stay in place */
  z-index: 1;       /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;      /* Full width */
  height: 100%;     /* Full height */
  overflow: auto;   /* Enable scroll if needed */
  background-color: rgb(0,0,0);       /* Fallback color */
  background-color: rgba(0,0,0,0.4);  /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  width: 45%;
}

.git {
	background-color: white;
	width: 100%;
}

.report {
	background-color: white;
}

h3 {
	text-align: center;
}

tr, th, td {
	border: 1px solid black;
}

th, td {
	width: 150px;
}

.toast-wrap {
  opacity: 0;
  position: fixed;
  bottom: 10%;
  color: #fff;
  width: 100%;
  text-align: center;
}

.toast-msg {
  background-color: rgba(0,0,0,0.7);
  padding: 1% 3%;
  font-size: 150%;
  border-radius: 5px;
}

.toastAnimate {
  animation: toastKF 2s;
}

@keyframes toastKF {
  0%  { opacity: 0; }
  25% { opacity: 1; z-index: 9999 }
  50% { opacity: 1; z-index: 9999 }
  75% { opacity: 1; z-index: 9999 }
  100% { opacity: 0; z-index: 0 }
}

#warn {
  background-color: red;
  color: white;
}

#score {
  width: 255px;
}