<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <RollingFile name="fileLogger" fileName="log/app-info.log" filePattern="log/app-info-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
        </Console>

        <SMTP name="MailAppender"
              subject="Plagarism detector error in production"
              to="venkatesh.ra@husky.neu.edu, arora.ana@husky.neu.edu, qu.ju@husky.neu.edu, vaidhyanathan.b@husky.neu.edu"
              from="palagarismdetector@gmail.com"
              smtpHost="smtp.gmail.com"
              smtpPort="587"
              smtpUsername="palagarismdetector@gmail.com"
              smtpPassword="team106pass"
              bufferSize="1">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
        </SMTP>
    </Appenders>
    <Loggers>
        <Logger name="edu.neu" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
        </Root>
        <Root level="error">
            <AppenderRef ref="MailAppender"/>
        </Root>
    </Loggers>
</Configuration>