@charset "UTF-8";

body {
	background-color: #336699;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	color: white;
	font-weight: bold;
	padding-top: 50px;
}

#background {
	width: 1024px;
	height: 768px;
	margin-left: auto;
	margin-right: auto;
}

#select {
	background-color: #FFFFCC;
	color: black;
	font-size: 12pt;
	height: 30px;
	width: 120px;
}

table {
	margin-left:auto; 
    margin-right:auto;
}

tr{
	height: 50px;
}

#add {
	background-color: red;
	color: white;
	font-size: 15pt;
	width: 180px;
	height: 40px;
}

#selectedAssignment {
	background-color: white;
	text-align: center;
}

#unSelectedAssignment {
	text-align: center;
	color: #ffebb5;
	background-color: #464c54;
}

